<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="">
    <div class="col-10 row">
        <div class="col-lg-7 ml-4">
            <div class="btn btn-sm" style="margin-left: -25px;font-size:14px;" id="reportDate"></div>
        </div>
        <div class="btn-group ml-4" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="remindUsers()"><i class="fas fa-redo"></i> &nbsp;Request Pending</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="branch_reports()"><i class="fas fa-arrow-down"></i>&nbsp; Download Report</button>
        </div>
    </div>
    <br>
    <div class="col-10 row mb-5" >
        <table class="table table-borderless" style="border: 1px solid #dfdfdf; border-radius:15px;">
            <thead>
            <tr >
                <th scope="col" class="bold">BRANCH</th>
                <th scope="col">SAP</th>
                <th scope="col">ETR</th>
                <th scope="col">NETWORKS</th>
                <th scope="col">EMAILS</th>
                <th scope="col">PRINTERS</th>
                <th scope="col">MPESA</th>
            </tr>
            </thead>
            <tbody id="status_body">

            </tbody>
        </table>
    </div>

</div>
<br><br>

</body>
</html>